.homeBody {
    display: flex;
    height: auto;
    width: 100%;
    padding: 0 40px;
    align-items: center;
    flex-direction: column;
}
.container {
  padding-top: 36px;
  text-align: left;
  flex-direction: column;
        pointer-events: auto;
 }




@media only screen and (max-width: 768px) {
    .homeBody {
        height: auto; 
        padding: 20px; 
        align-items: flex-start; 
    }
}

@media only screen and (max-width: 480px) {
    .homeBody {
        padding: 10px; 
        align-items: center;
    }
}

